@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  padding: 10%;
  font-size: 2rem;
  color: purple;
}

/* input, button{
  font : inherit;
  color: inherit;
} */

p{
  /* text-decoration: underline; */
  /* text-transform: uppercase; */
  text-align: justify;
  text-indent: 2em;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  word-spacing: 0.5em;
}

p{
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto",
    sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}
