body{
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #8E6C88;
  color:#CCDBDC; */
}
h1,h2{
  color: #1877F2;
}

p{
  /* color: rgb(0,0,0);
  color: rgb(255, 255, 255); */
  /* color: rgba(245, 48, 4, 0.784); */

  /* color: #ff0000; */
  /* color: #333; */
  /* color: #fff; */
  /* color: hsl(240, 56%, 46%); */
  color: hsla(240, 72%, 53%, 0.653);
}